/* eslint-disable react/jsx-key */
import React from 'react'

const Container = ({{children}}) => <main className="container">{{"{{children}}"}}</main>

export default function App() {
  return (
    <Container>
      {%- for el in elements %}
        {%- if el.type == 'text' -%}
          {%- if el.style.role == 'h1' -%}
            <h1 className="text">{{ el.text | e }}</h1>
          {%- else -%}
            <p className="text">{{ el.text | e }}</p>
          {%- endif -%}
        {%- elif el.type == 'input' -%}
          <label className="label">{{ (el.label or '') | e }}</label>
          <input className="input" type="{{ 'password' if el.secure else 'text' }}" placeholder="{{ (el.placeholder or '') | e }}" />
        {%- elif el.type == 'button' -%}
          <button className={"btn " + ("primary" if el.style.variant == 'primary' else "secondary")}>{{ (el.text or 'Button') | e }}</button>
        {%- elif el.type == 'image' -%}
          <img className="image" src="{{ (el.src or '') | e }}" alt="{{ ('image_' + el.id) | e }}" />
        {%- endif -%}
      {%- endfor %}
    </Container>
  )
}
